name: CI for Dependabot PRs

on:
  pull_request:
    branches:
      - master
    paths:
      - "mix.lock"

jobs:
  check:
    if: startsWith(github.head_ref, 'dependabot/')
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: discord_bot_test
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Read .tool-versions
        run: |
          echo "OTP_VERSION=$(cat .tool-versions | grep erlang | cut -d ' ' -f 2)" >> $GITHUB_ENV
          echo "ELIXIR_VERSION=$(cat .tool-versions | grep elixir | cut -d ' ' -f 2)" >> $GITHUB_ENV

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.OTP_VERSION }}
          elixir-version: ${{ env.ELIXIR_VERSION }}

      - name: Restore deps and _build cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: deps-${{ runner.os }}-${{ env.OTP_VERSION }}-${{ env.ELIXIR_VERSION }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            deps-${{ runner.os }}-${{ env.OTP_VERSION }}-${{ env.ELIXIR_VERSION }}

      - name: Install dependencies
        run: mix deps.get

      - name: Run format check
        run: mix format --check-formatted

      - name: Run tests
        run: mix test
